/* Set font and background color for the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2)
  table-layout:fixed;
}

/* Set font size and padding for table headers */
th {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
  word-wrap: break-word;
  
}

/* Set font size and padding for table cells */
td {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Style the first row of the table differently */
tr:first-child {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}